.filter {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 350px;
    padding: 10px;
    margin: 0px 20px 20px 20px;

}

.span {
    font-weight: 700;
    color: blueviolet;
}

.input {
    border-radius: 4px;
    color: blue;
}