.contactContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
}

.contact {
    display: flex;
    flex-direction: column;
}

.name {
    color: orangered;
}

.icon {
    margin-right: 10px;
    color: black;
}

.number {
    color: gold;
    font-weight: 700;
}

.button {
    background-color: rgb(44, 218, 160);
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    height: 30px;
    font-weight: 700;
}