.container {
  background-color: rgb(246, 247, 247);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.containerTitle {
  color: blue;
  margin-bottom: 20px;
}